.logo[data-v-228575cd] {
  display: block;
  margin: 0 auto 10px auto;
}
h4[data-v-228575cd] {
  color: #fff;
  text-align: center;
  font-family: 'InterBold';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 32px;
}
.demo-ruleForm[data-v-228575cd] {
  width: 100%;
  margin: 0 auto;
}
.submit[data-v-228575cd] {
  display: block;
  width: 100%;
  margin-top: 32px;
  border-radius: 8px;
}
.tips[data-v-228575cd] {
  width: 90%;
  margin: 20px auto 0 auto;
  text-align: center;
}
.tips a[data-v-228575cd]:link,
.tips a[data-v-228575cd]:visited {
  color: var(--color-primary-text);
}
.tips a[data-v-228575cd]:hover,
.tips a[data-v-228575cd]:active {
  color: var(--color-primary-text);
}
[data-v-228575cd] .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before {
  display: none;
}
.logo[data-v-496d4c46] {
  display: block;
  margin: 0 auto 12px auto;
}
h4[data-v-496d4c46] {
  color: #fff;
  text-align: center;
  font-family: 'InterBold';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 32px;
  /* 114.286% */
}
.ruleForm[data-v-496d4c46] {
  width: 100%;
  margin: 0 auto;
}
.submit[data-v-496d4c46] {
  display: block;
  width: 100%;
  margin-top: 32px;
  border-radius: 8px;
}
.form-item-label[data-v-496d4c46] {
  display: flex;
}
[data-v-496d4c46] .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before {
  display: none;
}
.forgotpwd[data-v-496d4c46]:link,
.forgotpwd[data-v-496d4c46] {
  color: var(--color-primary-text);
  cursor: pointer;
}
.forgotpwd[data-v-496d4c46]:hover,
.forgotpwd[data-v-496d4c46]:active {
  color: var(--color-primary-text);
}
.or[data-v-496d4c46] {
  width: 100%;
  height: 16px;
  position: relative;
}
.btn-google[data-v-496d4c46] {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.btn-google[data-v-496d4c46]:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.register-wrap[data-v-496d4c46] {
  width: 100%;
  text-align: center;
  color: #7c82ff;
  font-family: 'RobotoRegular';
  font-size: 14px;
  line-height: 14px;
  /* 100% */
}
.register-wrap a[data-v-496d4c46]:link,
.register-wrap a[data-v-496d4c46]:visited {
  color: var(--color-primary-text);
}
.register-wrap a[data-v-496d4c46]:hover,
.register-wrap a[data-v-496d4c46]:active {
  color: var(--color-primary-text);
}
.logo[data-v-04d94de2] {
  display: block;
  margin: 0 auto 10px auto;
}
h4[data-v-04d94de2] {
  color: #FFF;
  text-align: center;
  font-family: 'InterBold';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 32px;
}
.ruleForm[data-v-04d94de2] {
  width: 100%;
  margin: 0 auto;
}
.submit[data-v-04d94de2] {
  display: block;
  width: 100%;
  margin-top: 32px;
  border-radius: 8px;
}
.form-item-label[data-v-04d94de2] {
  display: flex;
}
[data-v-04d94de2] .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before {
  display: none;
}
.register-wrap[data-v-04d94de2] {
  margin-top: 20px;
  color: var(--color-primary-text);
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.register-wrap a[data-v-04d94de2]:link,
.register-wrap a[data-v-04d94de2]:visited {
  color: var(--color-primary-text);
}
.register-wrap a[data-v-04d94de2]:hover,
.register-wrap a[data-v-04d94de2]:active {
  color: var(--color-primary-text);
}
.logo[data-v-9da50a3d] {
  display: block;
  margin: 0 auto 10px auto;
}
h4[data-v-9da50a3d] {
  color: #FFF;
  text-align: center;
  font-family: 'InterBold';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 32px;
}
.demo-ruleForm[data-v-9da50a3d] {
  width: 100%;
  margin: 0 auto;
}
.submit[data-v-9da50a3d] {
  display: block;
  width: 100%;
  margin-top: 32px;
  border-radius: 8px;
}
.tips[data-v-9da50a3d] {
  width: 90%;
  margin: 20px auto 0 auto;
  text-align: center;
}
.tips a[data-v-9da50a3d]:link,
.tips a[data-v-9da50a3d]:visited {
  color: var(--color-primary-text);
}
.tips a[data-v-9da50a3d]:hover,
.tips a[data-v-9da50a3d]:active {
  color: var(--color-primary-text);
}
[data-v-9da50a3d] .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before {
  display: none;
}
.logo[data-v-da7be994] {
  display: block;
  margin: 0 auto 10px auto;
}
h4[data-v-da7be994] {
  color: #FFF;
  text-align: center;
  font-family: 'InterBold';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 32px;
}
.demo-ruleForm[data-v-da7be994] {
  width: 100%;
  margin: 0 auto;
}
.submit[data-v-da7be994] {
  display: block;
  width: 100%;
  margin-top: 32px;
  border-radius: 8px;
}
.tips[data-v-da7be994] {
  width: 90%;
  margin: 20px auto 0 auto;
  text-align: center;
}
.tips a[data-v-da7be994]:link,
.tips a[data-v-da7be994]:visited {
  color: var(--color-primary-text);
}
.tips a[data-v-da7be994]:hover,
.tips a[data-v-da7be994]:active {
  color: var(--color-primary-text);
}
[data-v-da7be994] .el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before {
  display: none;
}
