.lds-ellipsis[data-v-79fd0845] {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.lds-ellipsis div[data-v-79fd0845] {
  position: absolute;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div[data-v-79fd0845]:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1-79fd0845 0.6s infinite;
}
.lds-ellipsis div[data-v-79fd0845]:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2-79fd0845 0.6s infinite;
}
.lds-ellipsis div[data-v-79fd0845]:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2-79fd0845 0.6s infinite;
}
.lds-ellipsis div[data-v-79fd0845]:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3-79fd0845 0.6s infinite;
}
@keyframes lds-ellipsis1-79fd0845 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3-79fd0845 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2-79fd0845 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}
/* Style for the scroll view container */
.messages[data-v-e75fe221] {
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  padding: 20px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}
.messages[data-v-e75fe221]::-webkit-scrollbar {
  width: 10px;
  padding-top: 10px;
}
.messages[data-v-e75fe221]::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.messages[data-v-e75fe221]::-webkit-scrollbar-thumb {
  background-color: #393e44 !important;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.messages .message[data-v-e75fe221] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  margin-bottom: 12px;
}
.messages .message .avatar[data-v-e75fe221] {
  font-family: RobotoMedium;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4bab71;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.messages .message .message-content[data-v-e75fe221] {
  display: inline-flex;
  padding: 8px 12px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0px 8px 8px 8px;
  background: #393e44;
  text-align: justify;
}
.messages .message .message-content .copy-icon[data-v-e75fe221] {
  visibility: hidden;
  transition: all 1s;
}
.messages .message .message-content:hover .copy-icon[data-v-e75fe221] {
  visibility: visible;
}
.messages .message .message-content .message-header[data-v-e75fe221] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.messages .message .message-content .message-header .message-name[data-v-e75fe221] {
  color: #fff;
  font-family: RobotoMedium;
  font-size: 14px;
  line-height: 14px;
  /* 100% */
  letter-spacing: -0.14px;
}
.messages .message .message-content .message-header .message-time[data-v-e75fe221] {
  color: #7c878e;
  font-family: RobotoMedium;
  font-size: 12px;
  line-height: 12px;
  /* 100% */
  letter-spacing: -0.12px;
}
.messages .message .message-content .message-text[data-v-e75fe221] {
  color: #fff;
  font-family: RobotoMedium;
  font-size: 14px;
  line-height: 14px;
  /* 100% */
  letter-spacing: -0.14px;
  text-align: justify;
}
.messages .message .ref[data-v-e75fe221] {
  display: flex;
  flex-direction: column;
  font-family: 'RobotoRegular';
  font-size: 11px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 300px;
  margin-bottom: 12px;
  overflow: scroll;
  max-height: 100px;
}
